/* style.css */

body {
  background-color: !!bg_color!!;
  background-image: url("!!bg_image!!");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  font-size: x-large;
}

* .bg {
    background-color: !!bg_overlay_color!!;
    margin: 0;
    border: 0;
    border-top: none;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

* {
  color: !!color!!;
  font-family: !!font!!;
}
